<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant you love, delivered to you" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="images/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <div id="root">
      <skip-to-main-content></skip-to-main-content>
      <header>
        <nav>
          <a href="#/">Restaurant Apps</a>
          <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/emiljamel" target="_blank" rel="noopener">About Us</a></li>
          </ul>
        </nav>
        <div class="sidenav" role="navigation">
          <button type="button" id="button" aria-label="Open Navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"></path><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
          </button>
          <ul id="drawer">
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/emiljamel" target="_blank" rel="noopener">About Us</a></li>
          </ul>
        </div>
      </header>
      <main id="content"></main>
      <footer>
        <div class="footer-wrapper">
          <p>Copyright &copy 2021 Restaurant Apps. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
